@model ML.Usuario
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>REGISTRO DE NUEVO USUARIO</h1>

<div class="row">
    <div class="col-12">
        <h5>Ingrese los datos del Usuario:</h5>
    </div>
</div>
</hr>

@using (Html.BeginForm("Form", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-2" style="display: none;">
            @Html.TextBoxFor(model => model.IdUsuario, new { @class = "hidden form-control", autocomplete = "off" })
        </div>

        <div class="col-md-2">
            @Html.LabelFor(model => model.UserName, "Nombre de Usuario: ")
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-controller"></i></span>
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Ejemp: Jesu$3006", @id = "txtUserName", @onkeypress="UserName(event,'lblUserName','txtUserName')"})
                @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-2">
            @Html.LabelFor(model => model.UserName, "Password: ")
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-controller"></i></span>
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="glyphicon-up">
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />                        
                    </div>
                </div>
            </div>
        </div>

    </div>
}

